{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "react",
    "react-hooks"
  ],
  "extends": [
    "airbnb-base",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/eslint-recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "import/no-unresolved": "off",
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "react/prop-types": "off",
    "react/display-name": "off",
    "import/extensions": "off",
    "import/no-extraneous-dependencies": "off",
    "no-use-before-define": "off",
    "no-unused-vars": "off",
    "no-shadow": "off",
    "no-param-reassign": "off",
    "no-console": "off",
    "max-len": "off",
    "no-alert": "off",
    "consistent-return": "off"
  },
  "settings": {
    "react": {
      "version": "16.13"
    },
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ]
      }
    }
  }
}